<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ServiceInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ExecutableName" value="KarenPayneService.exe" />
    <add key="ServiceKnownName" value="DatabaseService" />
    <add key="ServiceProjectFolder" value="KarenPayneService" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ServiceInstaller.Properties.Settings>
            <setting name="TopMostSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </ServiceInstaller.Properties.Settings>
    </userSettings>
</configuration>